* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* font-family: "Jost"; */
}
body {
  /* overflow-x: auto; */
  /* overflow-y: auto; */
}

.container-main {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  /* padding-bottom: 30px; height of your footer */
  width: 100%;
  background-color: rgb(241, 241, 241);
}

.d-flex-between-two {
  display: flex;
}
.ant-btn-primary {
  color: #fff;
  background: #000000;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}
/* .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover { */
.ant-btn-primary:hover {
  color: #fff;
  background: #373737;
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  color: #fff;
  background: #373737;
  /* opacity: 0.6; */
}

.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-thead > tr > td {
  background-color: #373737;
  color: #ffffff;
}

.ant-table-wrapper table {
  border: 1px solid #d2d2d2;
  box-shadow: 2px 2px 0px 0px rgba(138, 138, 138, 0.1);
}

/* Custom scrollbar styles */
.ant-table-body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.ant-table-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.ant-table-body::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}

.ant-table-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper
  .ant-table-cell-scrollbar:not([rowspan]) {
  box-shadow: 0 1px 0 1px #ffffff00;
}
.ant-input-outlined {
  /* border-color: #818181; */
}
